.container{
    height: 16rem;
    width: 16rem;
    border: .024px solid black;
}
div{

    height: 1rem;
    width: 1rem;
    background-color: black;
    
    
}
div:hover{
    background-color: yellow;
}